:root{
  --fixed-primary-color: #3d5a80;
  --fixed-secondary-color: #ee6c4d ;
  --fixed-outline-color: #293241;
  --fixed-primary-text-color: white;
  --fixed-secondary-text-color: white;
}



@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
#main-container {
  padding-left: 0rem;
  padding-right: 0rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}

.row {
  margin-right: 0  !important;
  margin-left: 0  !important;
}

.container {
  display: flex;
  padding: 0 !important;
}
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:  "Poppins", sans-serif;
  font-weight: 500;
}

h1{
  font-size: 50pt !important;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  margin-bottom: 15px;
}


body .custom-btn-primary {
  width: 200px;
  margin: 1rem;
  background-color: var(--fixed-secondary-color);
  color: var(--fixed-secondary-text-color);
    font-size: 16pt;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border: solid 3px;
    border-color: var(--fixed-secondary-color);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

body .custom-btn-primary:hover{
  color: var(--fixed-secondary-color);
  background-color: white;
  border: solid 3px;
    border-color: var(--fixed-secondary-color);
  
}