
 .navbar {
    background-color: var(--fixed-primary-color);
    
}

.nav-main-container{
    
}

.nav-main-container h2{
    color: var(--fixed-primary-text-color) !important;
    font-size: 32pt !important;
}



@media only screen and (min-width: 992px){
    .navbar .nav-main-container {
        padding-left: 10rem !important;
        padding-right: 3rem !important;
    }
    .nav-main-container #nav-login-link{
        margin-left: 7rem;
        margin-right: 0;
    }
}

@media only screen and (max-width: 992px){
    .navbar .nav-main-container {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    .nav-main-container .navbar-brand{
        padding-left: 4rem;
    }
}


.nav-link{
    color: var(--fixed-primary-text-color) !important;
    margin-left: 2rem;
    margin-right: 2rem;
}

